<code>
<h2>render [a, a]</h2>
<ul><%= render @hom_collection %></ul>

<h2>render [a, b]</h2>
<ul><%= render @het_collection %></ul>

<h2>render partial: [a, a]</h2>
<ul><%= render partial: @hom_collection %></ul>

<h2>render partial: [a, b]</h2>
<ul><%= render partial: @het_collection %></ul>
</code>
